@{
    Layout = "_LayoutLoggedOff";
    ViewData["Title"] = "Restrict Page";
}


<p>You do not have permission to access this page. Please contact the Network Adiministrator. 
    <a asp-controller="Home" asp-action="Index">Click Here to return to Home Page.</a></></p>